/* Grilla general */
body {
  height: 100vh;
  display: grid;
  gap: 3px;
  grid-template-columns: 1fr;
  grid-template-rows: 170px 1fr auto;
  grid-template-areas: "header" "main" "footer"; }
  body header {
    grid-area: header; }
  body main {
    grid-area: main; }
  body footer {
    grid-area: footer; }

/* Header */
.navbar-brand > img {
  width: 150px; }

.fondoNav {
  background-color: #c6af90; }

/* Footer */
footer {
  background-color: #c6af90;
  text-align: center;
  border-top: 3px solid rgba(109, 105, 105, 0.801); }
  footer p {
    word-spacing: 1px;
    letter-spacing: 1px; }
    @media only screen and (max-width: 515px) {
      footer p {
        font-size: 14px; } }
    @media only screen and (max-width: 451px) {
      footer p {
        font-size: 12px; } }
    @media only screen and (max-width: 387px) {
      footer p {
        font-size: 10px;
        word-spacing: 0px;
        letter-spacing: 0px; } }

/* main contacto */
.redes .whats {
  font-size: 4em;
  color: #25D366; }
  .redes .whats:hover {
    transform: scale(1.3);
    transition: 1s; }

.redes .insta {
  font-size: 4em;
  color: #405DE6; }
  .redes .insta:hover {
    transform: scale(1.3);
    transition: 1s; }

/* Main de pagina preguntas */
main .container__preguntas {
  display: flex;
  justify-content: center;
  border: 2px solid black;
  padding: 5px;
  /* background-image: url(../assets/img-paginas/labrador.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain; */ }
  main .container__preguntas ul li {
    list-style-type: disc;
    font-size: 1.1em;
    padding-top: 4px; }
    main .container__preguntas ul li a {
      color: black; }

main .container__respuestas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px; }
  main .container__respuestas h3 {
    text-align: center;
    font-size: 1.2em; }
    @media only screen and (min-width: 400px) {
      main .container__respuestas h3 {
        font-size: 1.5em; } }
  main .container__respuestas p {
    margin-top: 10px;
    padding: 5px;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 1px; }
  main .container__respuestas .mas-dudas {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    main .container__respuestas .mas-dudas .boton a {
      color: black; }

main .container__preguntas-foto {
  object-fit: contain;
  object-position: center; }
  main .container__preguntas-foto div {
    width: 100%;
    display: flex;
    justify-content: center; }

/* Estilos generales */
.titulosPrincipales {
  background-color: #c6af90;
  color: white;
  display: flex;
  justify-content: center;
  text-transform: uppercase; }
  @media only screen and (max-width: 367px) {
    .titulosPrincipales {
      font-size: .6em; } }

.boton {
  background-color: #c6af90; }
