/* main contacto */
.redes {
    .whats{
        font-size: 4em;
        color: #25D366;
        &:hover {
            transform:scale(1.3);
            transition: 1s;
        }
    }
    .insta {
        font-size: 4em;
        color: #405DE6;
        &:hover {
            transform: scale(1.3);
            transition: 1s;
        }
    }
}