/* main contacto */
.redes {
    .whats{
        font-size: 4em;
        color: map-get($redes , whatsapp);
        &:hover {
            transform:scale(1.3);
            transition: 1s;
        }
    }
    .insta {
        @extend .whats;
        color: map-get($redes, instagram);
    }
}

