/* home */
.main-contenedor {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
    .container__presentacion {
        height: 63vh;
        padding: .3em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;        
        position: relative;
        a {
            img {                
                animation-name: aumento;
                animation-duration: 2s;
                animation-iteration-count: infinite;
                animation-direction: alternate;
                &:hover {
                    animation: none;
                }            
            }
            @keyframes aumento {
                0% {
                    width: 0%;
                }
                100% {
                    width: 20%;                    
                }
            }            
        }
    }
    .container__retrato {        
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-bottom: 20px;
        .retrato__texto {
            padding: 0% 10px;
        }
        figure {
            width: 90%;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            img {
                object-fit: contain;
                max-width: 90%;            
            }
        }
        .sabermas {
            width: 50%;
            margin: 0 auto;            
        }
        @media only screen and (min-width: 777px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-template-areas: 
            "texto foto"
            "boton foto";
            .retrato__texto {
                grid-area: texto;
            }
            figure {
                grid-area: foto;
            }
            .sabermas {
                grid-area: boton;
                a {
                    img {
                        transform: scale(0.7);
                        transition: transform 1s;                
                        &:hover {
                            transform: scale(1);
                            /* transition: 1s; */
                        }
                    }
                }
            }
        }
    }
    .container__ilustracion {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-bottom: 20px;
        .ilustracion__texto {
            padding: 0% 10px;
        }
        figure {
            width: 90%;
            margin: 0 auto;
            display: flex;
            justify-content: center;        
            img {
                object-fit: contain;
                max-width: 90%;
            }
        }
        .explorar {
            width: 50%;
            margin: 0 auto;
        }
        @media only screen and (min-width: 777px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-template-areas:
                "foto texto"
                "foto boton";        
            .ilustracion__texto {
                grid-area: texto;
            }        
            figure {
                grid-area: foto;
            }        
            .explorar {
                grid-area: boton;
                a {
                    img {
                        transform: scale(0.7);
                        transition: transform 1s;                
                        &:hover {
                            transform: scale(1);
                            /* transition: 1s; */
                        }
                    }
                }
            }
        }
    }
    .container__cuaderno {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-bottom: 20px;
        .cuaderno__texto {
            padding: 0% 10px;
        }
        figure {
            width: 90%;
            margin: 0 auto;
            display: flex;
            justify-content: center;        
            img {
                object-fit: contain;
                max-width: 90%;
            }
        }        
        .sabermas {
            width: 50%;
            margin: 0 auto;
        }
        @media only screen and (min-width: 777px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-template-areas:
                "texto foto"
                "boton foto";        
            .cuaderno__texto {
                grid-area: texto;
            }        
            figure {
                grid-area: foto;
            }        
            .sabermas {
                grid-area: boton;
                a {
                    img {
                        transform: scale(0.7);
                        transition: transform 1s;                
                        &:hover {
                            transform: scale(1);
                            /* transition: 1s; */
                        }
                    }
                }
            }
        }
    }
}