/* Main sobre mi */
.sobreMi__container {
    @include flex-col;
    text-align: center;
    margin-top: 30px;
    .sobreMi__texto {
        padding: 2em;
        letter-spacing: 1.8px;
    }
    .sobreMi__foto {
        @include flex-row;
        padding: 2em;
        max-width: 850px;        
        img {
            object-fit: contain;            
        }
    }
    @media only screen and (min-width: 850px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        margin-top: 150px;
    }

}
