$marron: #6a4936;
$marron-claro: #c6af90;
$crema: #f2f0e3;
$verde: #53503f;
$verde-claro: #a4a391;
$negro: #000000;

$letra: Montserrat, sans-serif;

/* Mapa */
$redes:(
    whatsapp: #25D366,
    instagram: #405DE6
);
/* mixin */
@mixin flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
@mixin flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}
