@import "grilla";
@import "variables";
@import "header";
@import "footer";
@import "contacto";
@import "preguntas";
@import "tips";

/* Estilos generales */
body{
    
}
.titulosPrincipales {
    background-color: $marron-claro;
    color: white;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    @media only screen and (max-width: 367px) {
        font-size: .6em;
    }
    
}
.boton {
    background-color: $marron-claro;
}